.pledgeForum {
    background: linear-gradient(180deg, #0000FF 0%, #FFFFFF 131.8%);
    min-height: 100vh;
    justify-content: flex-start!important;
    padding: 10px!important;
}
.pledgeForum ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    font-size:18px;
  }

.inputcash {
    outline: none;
    -webkit-appearance: none;
    border: none; /* Removes the default border */
    border-bottom: 1px solid white;
    color: white;
    background: transparent;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    width: 50%;
    margin-top: 26px;
    margin-bottom: 31px;

}

.inputcash:focus{
    outline: none 

}

.p-headline {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.p-end {
font-weight: 100;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}

.btn-c-m {
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    width: 295px;
    height: 52px;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.96);
}

.btn-c-m.l {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
text-align: center;
color: rgba(255, 255, 255, 0.96);
padding-top: 8px;
padding-bottom: 7px;

}

.btn-c-m.w {
    background-color:white;
    color: rgba(133, 133, 255, 0.96);
}

form input {
    outline: none;
    -webkit-appearance: none;
    border: none; /* Removes the default border */
    border-bottom: 1px solid white;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.41);
}


label h6 {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;
margin-top: 13px;

}

.wtc {
    font-style: italic;
font-weight: 500;
font-size: 22px;
line-height: 26px;

/* or 111% */
align-items: center;
text-align: center;

color: #FFFFFF;
}

.btn-c-m:active, .btn-c-m:hover{
    background: white;
    color: blue;
    font-weight: 900;
}

.center-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.input-group-text{
    background: transparent;
    border: unset;
    border-bottom: 1px solid white;
    border-radius: unset;
    color: white;
}

.custom-input{
    background: transparent;
    border-top: unset;
    border-right: unset;
    border-left: unset;
    border-bottom: 1px white solid;
}
.input-group{
    width: unset!important;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border: unset;
    border-bottom: 1px solid white;
    outline: 0;
    box-shadow: 0 0 0 .25remrgba(13,110,253,.25);
}