.Supporter {
    background: #F5F5F5;
    min-height: 100vh;

}


.mobilizersLogowhite {
    width: 189px;
    height: 97px;
}

.blueLogo {
    width: 153.75px;
    height: 35.49px;
}

.Card {
    width: 295px;
    height: 97px;
    background: #FFFFFF;
    border-radius: 20px;
    
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.Card p {

    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    /* or 129% */
    display: flex;
    align-items: center;
    text-align: center;
    color: #0000FF;
    padding: 19px 18px 14px 19px;
}



.ds-h {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 7px;
    color: #0000FF;
    background-color: transparent;
    border: none;
}

.co-p {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

/* or 157% */
display: flex;
align-items: center;
text-align: center;

color: #0000FF;
margin-top: 10px;
}

.dot {
    width: 8.64px;
height: 10.33px;
}





.hero-dropdown {
    background: rgba(0, 0, 255, 0.9);
    /* -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease; */
    min-height: 100vh;
}

.close {
    color: white;
    background-color: transparent;
    border: none;
}

.hero-dropdown:active {
    
}


.hero-dropdown ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style:disc;
}

.descc {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
text-align: justify;
color: #FFFFFF;
max-width: 263px;
margin-top: 50px;
}


.t-link {
    text-decoration: none;
    color: white;
}

.browse-p {
    margin-top: 35.93px;
    margin-bottom: 7px;
}

.heroo{
    background: #F5F5F5;
}