.cmp-title {
    margin-bottom: 2px;
}

.cmp-t {
    margin-bottom: 11px;
}


.cmp-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */
    display: flex;
    align-items: center;
    color: #ffffff;
    
  }
  
  .cmp-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  
    /* or 157% */
    display: flex;
    align-items: center;
  
    color: #ffffff;
  }
  
  .cmp-t {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  
    /* or 157% */
    display: flex;
    align-items: center;
  
    color: #ffffff;
  }
  
  .cmp-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    /* or 114% */
    display: flex;
    align-items: center;
    text-align: justify;
  
    color: #ffffff;
  }
  .ccmp {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 22px;
  
    /* or 88% */
    display: flex;
    align-items: center;
  
    color: #ffffff;
    margin-bottom: 37px;
  }