.cmp-title {
    margin-bottom: 2px;
}

.cmp-t {
    margin-bottom: 11px;
}


.cmp-title {
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    /* or 157% */
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    
  }
  
  .cmp-subtitle {
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
    /* or 157% */
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  
  .cmp-t {
    font-family: 'Seravek';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    
    /* or 157% */
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
  }
  
  .cmp-p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    
    /* or 114% */
    display: flex;
    align-items: center;
    text-align: justify;
    
    color: #FFFFFF;
  }


  .icon-p {
    margin-right: -26px;
  }

  .cmpcard {
    padding-left: 40px;
    padding-right: 42px;
  }

  #cmpcard1 {
    margin-top: 22px;
    margin-bottom: 23px;
  }

  #cmpcard0 {
    margin-top: 37px;
  }

  